.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .logo {
    background: url(../../assets/imgs/klm-logo.png) no-repeat;
    width: 5rem;
    height: 5rem;
    display: flex;
  }
}
