<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <p>Developed by <a href="https://bitbucket.org/caike08/">Carlos Henrique Motta</a></p>

    <span class="logo"></span>
  </div>
</ion-content>
