<ion-header>
  <ion-toolbar>
    <ion-title>
      Flights from: {{ airport?.code }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="chooseAirport()">
        <ion-icon name="pin"></ion-icon>
      </ion-button>
      <ion-button (click)="showSearchBar()">
          <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading [color]="primary" *ngIf="loading; else departureList"></app-loading>

  <ng-template #departureList>
    <ion-searchbar placeholder="Filter by status" animated (ionChange)="searchFlights($event)" mode="ios" *ngIf="displaySearchBar"></ion-searchbar>

    <ion-list>
      <ion-item class="flight" *ngFor="let flight of filteredFlightList">
        <ion-grid no-padding>
          <ion-row>
            <ion-col size="5">
              <p class="item">Flight code:</p>
              <p class="desc">{{ flight?.airline?.code + ' ' + flight?.flightNumber }}</p>
            </ion-col>
            <ion-col size="7">
              <p class="item">Route:</p>
              <p class="desc">
                <span *ngFor="let route of flight.route">{{ route }} <ion-icon name="arrow-dropright"></ion-icon></span>
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <p class="item">Schedule date:</p>
              <p class="desc">{{ flight?.flightScheduleDate | date: 'short' }}</p>
            </ion-col>
            <ion-col>
              <p class="item">Status:</p>
              <ion-badge [color]="getBadgeColor(flight?.flightStatusPublicLangTransl)">
                {{ flight?.flightStatusPublicLangTransl }}
              </ion-badge>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>