<ion-grid>
  <ion-row>
    <ion-col>
      <div class="loading-container">
        <p text-center>Fetching data</p>
        <ion-progress-bar [color]='color' type="indeterminate"></ion-progress-bar>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>